workspace/n8n_workflow_1_autopilot.json
{
  "name": "Yanflix WF1: Autopilot Pipeline",
  "nodes": [
    {
      "id": "a1000000-0000-0000-0000-000000000001",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [0, 0],
      "parameters": {
        "formTitle": "Yanflix — Start Dubbing Run",
        "formDescription": "Fill in episode details to launch the full autopilot pipeline.",
        "formFields": {
          "values": [
            { "fieldLabel": "Show Name", "fieldType": "text", "requiredField": true },
            { "fieldLabel": "Episode ID", "fieldType": "text", "requiredField": true },
            { "fieldLabel": "Raw File Name", "fieldType": "text", "requiredField": true },
            { "fieldLabel": "Source Language", "fieldType": "dropdown", "requiredField": true, "fieldOptions": { "values": [{ "option": "ja" }, { "option": "ko" }, { "option": "zh" }] } },
            { "fieldLabel": "Track Modes", "fieldType": "text", "requiredField": false, "placeholder": "standard,aave" },
            { "fieldLabel": "Auto Accept Cast", "fieldType": "dropdown", "requiredField": false, "fieldOptions": { "values": [{ "option": "false" }, { "option": "true" }] } }
          ]
        },
        "responseMode": "onReceived",
        "responseText": "Autopilot started! Watch progress in the Yanflix UI at http://localhost:3000"
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000002",
      "name": "Setup — Normalize Inputs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0],
      "parameters": {
        "jsCode": "const body = $input.first().json;\nconst showName = (body['Show Name'] || body.show_name || '').trim();\nconst episodeId = (body['Episode ID'] || body.episode_id || '').trim();\nconst ep_folder = showName.toLowerCase().replace(/[^a-z0-9]+/g, '_') + '_' + episodeId.toLowerCase();\nconst trackRaw = body['Track Modes'] || body.track_modes || 'standard';\nconst track_modes = typeof trackRaw === 'string' ? trackRaw.split(',').map(s => s.trim()).filter(Boolean) : trackRaw;\nconst autoCastRaw = body['Auto Accept Cast'] || body.auto_cast;\nconst auto_cast = autoCastRaw === 'true' || autoCastRaw === true;\nreturn [{ json: { show_name: showName, episode_id: episodeId, ep_folder, raw_file_name: (body['Raw File Name'] || body.raw_file_name || '').trim(), source_lang: body['Source Language'] || body.source_lang || 'ja', track_modes, auto_cast } }];"
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000003",
      "name": "Stage 1 — Isolate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0],
      "parameters": {
        "jsCode": "const BASE = 'http://host.docker.internal:3000';\nasync function sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\nconst ctx = $input.first().json;\nconst { ep_folder, raw_file_name, source_lang } = ctx;\n\nawait this.helpers.httpRequest({ method: 'POST', url: `${BASE}/api/isolate`, body: { ep_folder, raw_file_name, source_lang }, json: true });\n\nfor (let i = 0; i < 240; i++) {\n  await sleep(30000);\n  const s = await this.helpers.httpRequest({ method: 'GET', url: `${BASE}/api/isolate-status?ep_folder=${ep_folder}`, json: true });\n  if (s.status === 'done') return [{ json: ctx }];\n  if (s.status === 'error') throw new Error(`Isolate failed: ${s.message || 'unknown'}`);\n}\nthrow new Error('Isolate timed out after 240 polls (2 hours)');"
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000004",
      "name": "Stage 2 — Transcribe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 0],
      "parameters": {
        "jsCode": "const BASE = 'http://host.docker.internal:3000';\nasync function sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\nconst ctx = $input.first().json;\n\nawait this.helpers.httpRequest({ method: 'POST', url: `${BASE}/api/transcribe`, body: { ep_folder: ctx.ep_folder, source_lang: ctx.source_lang }, json: true });\n\nfor (let i = 0; i < 240; i++) {\n  await sleep(30000);\n  const s = await this.helpers.httpRequest({ method: 'GET', url: `${BASE}/api/transcribe-status?ep_folder=${ctx.ep_folder}`, json: true });\n  if (s.status === 'done') return [{ json: ctx }];\n  if (s.status === 'error') throw new Error(`Transcribe failed: ${s.message || 'unknown'}`);\n}\nthrow new Error('Transcribe timed out after 240 polls (2 hours)');"
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000005",
      "name": "Stage 3 — Segment + Harvest + Cast Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 0],
      "parameters": {
        "jsCode": "const BASE = 'http://host.docker.internal:3000';\nasync function sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\nconst ctx = $input.first().json;\n\n// Segment lines\nawait this.helpers.httpRequest({ method: 'POST', url: `${BASE}/api/segment-lines`, body: { ep_folder: ctx.ep_folder }, json: true });\nfor (let i = 0; i < 120; i++) {\n  await sleep(30000);\n  const s = await this.helpers.httpRequest({ method: 'GET', url: `${BASE}/api/segment-status?ep_folder=${ctx.ep_folder}`, json: true });\n  if (s.status === 'done') break;\n  if (s.status === 'error') throw new Error(`Segment-lines failed: ${s.message || 'unknown'}`);\n  if (i === 119) throw new Error('Segment-lines timed out after 60 minutes');\n}\n\n// Harvest voice seeds\nawait this.helpers.httpRequest({ method: 'POST', url: `${BASE}/api/harvest-seeds`, body: { ep_folder: ctx.ep_folder, show_name: ctx.show_name }, json: true });\nfor (let i = 0; i < 120; i++) {\n  await sleep(30000);\n  const g = await this.helpers.httpRequest({ method: 'GET', url: `${BASE}/api/gpu-status`, json: true });\n  if (!g.locked) break;\n  if (i === 119) throw new Error('Harvest-seeds timed out after 60 minutes');\n}\n\n// Cast review gate (skip if auto_cast)\nif (!ctx.auto_cast) {\n  for (let i = 0; i < 480; i++) {\n    await sleep(30000);\n    const c = await this.helpers.httpRequest({ method: 'GET', url: `${BASE}/api/cast-status?ep_folder=${ctx.ep_folder}`, json: true });\n    if (c.cast_locked) break;\n    if (i === 479) throw new Error('Cast review timed out after 4 hours — save the cast in the Yanflix UI to continue');\n  }\n}\n\nreturn [{ json: ctx }];"
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000006",
      "name": "Clone Speakers (ElevenLabs banks)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1200, 0],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/clone-speakers",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "ep_folder", "value": "={{ $json.ep_folder }}" },
            { "name": "show_name", "value": "={{ $json.show_name }}" }
          ]
        },
        "options": { "timeout": 600000 }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000007",
      "name": "Translate Script (placeholder — route not built yet)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1440, 0],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/translate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "ep_folder", "value": "={{ $json.ep_folder }}" }
          ]
        },
        "options": { "timeout": 120000, "response": { "response": { "neverError": true } } }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000008",
      "name": "Direct Pass (placeholder — route not built yet)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1680, 0],
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/direct",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "ep_folder", "value": "={{ $json.ep_folder }}" }
          ]
        },
        "options": { "timeout": 120000, "response": { "response": { "neverError": true } } }
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000009",
      "name": "Stage 4 — Actor + Fit + Render (all tracks)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 0],
      "parameters": {
        "jsCode": "const BASE = 'http://host.docker.internal:3000';\nasync function sleep(ms) { return new Promise(r => setTimeout(r, ms)); }\nconst ctx = $input.first().json;\nconst track_modes = ctx.track_modes || ['standard'];\nconst outputs = [];\n\nfor (const track_mode of track_modes) {\n  // Generate audio (sync — waits for completion)\n  await this.helpers.httpRequest({ method: 'POST', url: `${BASE}/api/generate-audio`, body: { ep_folder: ctx.ep_folder, track_mode }, json: true });\n\n  // Fit audio (async) — poll GPU lock until released\n  await this.helpers.httpRequest({ method: 'POST', url: `${BASE}/api/fit-audio`, body: { ep_folder: ctx.ep_folder, track_mode }, json: true });\n  for (let i = 0; i < 240; i++) {\n    await sleep(30000);\n    const g = await this.helpers.httpRequest({ method: 'GET', url: `${BASE}/api/gpu-status`, json: true });\n    if (!g.locked) break;\n    if (i === 239) throw new Error(`Fit-audio timed out for track: ${track_mode}`);\n  }\n\n  // Render (sync — waits for completion)\n  const r = await this.helpers.httpRequest({ method: 'POST', url: `${BASE}/api/render-video`, body: { ep_folder: ctx.ep_folder, track_mode }, json: true });\n  outputs.push({ track_mode, output_path: r.output_path || `workspace/5_outputs/${ctx.ep_folder}_${track_mode}.mp4` });\n}\n\nreturn [{ json: { ...ctx, outputs, message: `Autopilot complete! ${outputs.length} track(s) rendered in workspace/5_outputs/` } }];"
      }
    },
    {
      "id": "a1000000-0000-0000-0000-000000000010",
      "name": "Done",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2160, 0],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "msg", "name": "result", "value": "={{ $json.message }}", "type": "string" },
            { "id": "out", "name": "outputs", "value": "={{ $json.outputs }}", "type": "array" }
          ]
        },
        "includeOtherFields": false
      }
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [[{ "node": "Setup — Normalize Inputs", "type": "main", "index": 0 }]]
    },
    "Setup — Normalize Inputs": {
      "main": [[{ "node": "Stage 1 — Isolate", "type": "main", "index": 0 }]]
    },
    "Stage 1 — Isolate": {
      "main": [[{ "node": "Stage 2 — Transcribe", "type": "main", "index": 0 }]]
    },
    "Stage 2 — Transcribe": {
      "main": [[{ "node": "Stage 3 — Segment + Harvest + Cast Gate", "type": "main", "index": 0 }]]
    },
    "Stage 3 — Segment + Harvest + Cast Gate": {
      "main": [[{ "node": "Clone Speakers (ElevenLabs banks)", "type": "main", "index": 0 }]]
    },
    "Clone Speakers (ElevenLabs banks)": {
      "main": [[{ "node": "Translate Script (placeholder — route not built yet)", "type": "main", "index": 0 }]]
    },
    "Translate Script (placeholder — route not built yet)": {
      "main": [[{ "node": "Direct Pass (placeholder — route not built yet)", "type": "main", "index": 0 }]]
    },
    "Direct Pass (placeholder — route not built yet)": {
      "main": [[{ "node": "Stage 4 — Actor + Fit + Render (all tracks)", "type": "main", "index": 0 }]]
    },
    "Stage 4 — Actor + Fit + Render (all tracks)": {
      "main": [[{ "node": "Done", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "yanflix" }]
}
